@model Etch.OrchardCore.SEO.Redirects.Import.ViewModels.ImportRedirectsIndexViewModel

<h1>@T["Import Redirects"]</h1>

<p>@T["Import multiple 301 redirects by uploading an XLSX spreadsheet using"] <a href="~/Etch.OrchardCore.SEO/Downloads/ImportRedirectTemplate.xlsx" target="_blank">@T["this example template"]</a>.</p>

<form asp-action="Import" enctype="multipart/form-data">
    <div class="form-group">
        @Html.EditorFor(m => m.ImportedRedirectsFile, new { htmlAttributes = new { @class = "form-control-file" } })
        @Html.ValidationMessageFor(m => m.ImportedRedirectsFile)
    </div>

    <button class="btn btn-primary" type="submit">@T["Import"]</button>
</form>