@model Etch.OrchardCore.SEO.HostnameRedirects.ViewModels.HostnameRedirectsSettingsViewModel

@using Etch.OrchardCore.SEO.HostnameRedirects.Models


<div class="form-group" asp-validation-class-for="ForceSSL">
    <div class="custom-control custom-checkbox">
        <input asp-for="ForceSSL" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" asp-for="ForceSSL">@T["Force SSL"]</label><br />
        <span class="hint">@T["Force visitors to use SSL (https). This is a basic implementation that will change the URL from http to https."]</span>
    </div>
</div>

<hr />

<div class="form-group">
    <label asp-for="Redirect">@T["Canonical URLs behaviour"]</label>
    <select asp-for="Redirect" class="form-control content-preview-select js-redirect-select">
        <option value="@HostnameRedirectModes.None">@T["Any domain"]</option>
        <option value="@HostnameRedirectModes.NonWWW">@T["https://example.com"]</option>
        <option value="@HostnameRedirectModes.WWW">@T["https://www.example.com"]</option>
        <option value="@HostnameRedirectModes.Domain">@T["Custom"]</option>
    </select>
    <span class="hint">@T["Redirects will be a 301."]</span><br />
</div>

<div class="form-group js-redirect-to-site-field" asp-validation-class-for="RedirectToSiteUrl" style="display: none;">
    <label asp-for="RedirectToSiteUrl">@T["Redirect to domain"] <span asp-validation-for="RedirectToSiteUrl"></span></label>
    <input asp-for="RedirectToSiteUrl" class="form-control content-preview-text content-caption-text" placeholder="E.g. https://domain.example.com" />
</div>

<hr />

<div class="form-group">
    <label asp-for="TrailingSlashes">@T["Trailing slashes"]</label>
    <select asp-for="TrailingSlashes" class="form-control content-preview-select">
        <option value="@TrailingSlashesModes.None">@T["Ignore"]</option>
        <option value="@TrailingSlashesModes.Remove">@T["Remove Trailing Slash"]</option>
        <option value="@TrailingSlashesModes.Append">@T["Append Trailing Slash"]</option>
    </select>
</div>

<hr />

<div class="form-group" asp-validation-class-for="IgnoredUrls">
    <label asp-for="IgnoredUrls">@T["Ignored URLs"] <span asp-validation-for="IgnoredUrls"></span></label>
    <textarea asp-for="IgnoredUrls" rows="5" class="form-control content-preview-text"></textarea>
    <span class="hint">@T["When URLs start with specified value the request will be ignored from redirect behaviour. Use a new line to seperate each URL."]</span>
</div>

<script type="text/javascript">
    document.onreadystatechange = function () {
        if (document.readyState != "interactive") {
            return;
        }

        var $redirectToSiteField = document.querySelector('.js-redirect-to-site-field');
        var $redirectSelect = document.querySelector('.js-redirect-select');

        var setCustomContentFieldVisibility = function () {
            if ($redirectSelect.value === "@HostnameRedirectModes.Domain") {
                $redirectToSiteField.style.display = 'block';
                return;
            }

            $redirectToSiteField.style.display = 'none';
        };

        $redirectSelect.addEventListener('change', setCustomContentFieldVisibility);

        setCustomContentFieldVisibility();
    };
</script>