@using Etch.OrchardCore.SEO.Redirects.ViewModels;

@model RedirectPartEditViewModel

<div class="mb-3" asp-validation-class-for="FromUrl">
    <label asp-for="FromUrl">@T["From Url"] <span asp-validation-for="FromUrl"></span></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">@Model.TenantUrl</span>
        </div>
        <input asp-for="FromUrl" class="form-control content-preview-text content-caption-text" />
    </div>
    <span class="hint">@T["Relative URL that triggers redirect."]</span>
</div>

<div class="mb-3" asp-validation-class-for="ToUrl">
    <label asp-for="ToUrl">@T["To Url"] <span asp-validation-for="ToUrl"></span></label>
    <input asp-for="ToUrl" class="form-control content-preview-text content-caption-text" />
    <span class="hint">@T["URL that'll be redirected to."]</span>
</div>

<div class="mb-3">
    <div class="custom-control custom-checkbox">
        <input asp-for="IsPermanent" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" asp-for="IsPermanent">@T["Permanent"]</label>
        <span class="hint">@T["When checked redirect will be permanent (301), otherwise it'll be a temporary redirect (302)."]</span>
    </div>
</div>